# Виртуальное окружение
venv/

# Токены (НЕ КОММИТИТЬ!)
moex_token.txt
*.token

# Логи
*.log

# Временные файлы
download_data.py

# VS Code
.vscode/
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Egg-info
*.egg-info/

# Токены и внешние библиотеки
MOEXPy/
alor_token.txt
tinvest_token.txt
moex_token.txt
